/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.red-text{
    font-style: italic;
}

#sign-in-button {

    width: 150px;

}

#football {
    z-index: 3 !important;
    height:30px;
    width: 50px;
    position: absolute;
    margin-left: -80px;
    margin-top: 20px;
}


#login-button {

    width: 150px;


}

#logo {
    margin-top: -150px;
    background-size: 110%;
}

#theater-js {
    width: 100%;

    white-space: nowrap;
}



.scene {
    padding: 6rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.actor {
    font-size: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: Calibri;
}
.actor:last-of-type {
    margin-bottom: 6rem;
}

.actor__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.actor__content--typing::after {
    content: '|';
    animation: blink 500ms infinite;
}


